/* Основные стили и мобильная раскладка*/
* {
    box-sizing: border-box;
}

body {
    width: 90%;
    margin: 2em auto;
    font: Arial, Helvetica, sans-serif;
}



nav div {
    background-color: rgb(34, 34, 34);
    border: 2px solid darkgrey;
    padding: 10px;
    margin: 5px;
}

nav a{
    text-decoration: none;
    color: white;
}

.best_boy {
    height: auto;
    margin: 5px;
}

.best_boy img {
width: 150px;
height: 150px;    
float: left;
margin-right: 20px;
}

h3 {
    text-align: center;
}

section {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

article img {
    width: 150px;
    height: 150px;
    align-self: center;
}

article {
    /*border: 2px solid darkgray;*/
    max-width: 150px;
    margin: 10px;
}

article img {
    object-fit: cover;
}

footer {
    background-color: rgb(34, 34, 34);
    color: white;
    border: 2px solid darkgray;
}

td {
padding: 10px;
}

footer p {
    padding: 10px;
}

/*Выпадающее меню*/

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(34, 34, 34);
    z-index: 1;
  }

  button {
    background-color: rgb(34, 34, 34);
    border: none;
    color: white;
    font-family: inherit;
    font-size: inherit;
  }
  .dropdown:hover .dropdown-content {
    display: block;
}


/*десктопная раскладка*/

@media screen and (min-width: 600px) {
    header {
        text-align: center;
    }

    nav {
        display: flex;
        justify-content: space-around;
        background-color: rgb(34, 34, 34);
        position: sticky;
        top: 0px;
        z-index: 1;
    }

    nav div {
        border: none;
    }

    main {
        background-image: url(/images/background-tile.jpg);
    }
    section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 60%;
        margin: auto;
    }

    article {
        background-color: white;
    }

    article p {
        margin: 0%;
    }
    .back {
        background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(187,224,230,1) 100%);
        padding: 100px;
        margin-top: 20px;
    }

    main{
        position: relative;
    }
    .best_boy {
        color: white;
        position: absolute;
        top: 10px;
        left: 25%;
    }

    .best_boy img {
        border-radius: 50%;
    }

    footer {
        display: flex;
        justify-content: space-around;
    }
    
}
